body {
    background-color: #aa91a3;
    background-image: url(../images/pexels-photo-206622.jpeg);
    background-repeat: no-repeat;
}
.jumbotron {
    margin-top: 20px;
    margin-bottom: 100px;
}
.start {
    background-color: yellow;
    padding: 20px;
    border: 2px solid red;
}
.card1 {
    float: right;
    overflow: auto;
    top: 100px;
}

.underscore {
    border: 2px solid black;
    height: 150px;
    width: 80%;
    font-size: 100px;
    text-align: center;
    margin: 50px auto;
    background-color: yellowgreen;
}
.data{
    margin-top: 100px;
}
.gameData {
    border: 2px solid red;
    background-color: plum;
    height: 50px;
    text-align: centre;
    font-family: cursive;
    font-size: 20px;
}
